{% extends request_cop_base_template %}
{% load static %}

{% block request_cop_body %}
<style>
iframe[title="recaptcha challenge"] {
    height: 100% !important;
}
</style>
<script>
const REQUEST_COP_CSRF_TOKEN = "{{ csrf_token }}";
const REQUEST_COP_RECATCHA_PUBLIC_KEY = "{{ recaptcha_public_key }}";
</script>
<script src="{% static 'django_request_cop/js/recaptcha.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js?onload=djangoRequestCopRecaptchaLoad"></script>
<div id="django-request-cop-recaptcha-container"></div>
{% endblock %}
